/* Custom Styles for Health Tracker Dashboard */

main.container {
    height: 560px
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.dashboard-container .col-md-6 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
.dashboard-container h2 {
    margin-bottom: 15px;
}
